<div class="container">
  <form action="/reminder" method="POST" enctype="multipart/form-data">
    <input type="hidden" name="id" value="<%= reminders.length + 1 %>">
    <div class="form-group">
      <label for="photo">Cover Photo</label>
      <input type="file" class="form-control" id="photoInput" name="photo">
    </div>
    <div class="form-group">
      <label for="title">Title</label>
      <input type="text" class="form-control" id="titleInput" placeholder="Title" name="title">
    </div>
    <div class="form-group">
      <label for="description">Description</label>
      <textarea class="form-control" id="descriptionInput" rows="3" placeholder="Description" name="description"></textarea>
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
  </form>
</div>
